/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.violet-gradient {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
        -90deg,
        #804dee 0%,
        rgba(60, 51, 80, 0) 100%
    );
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(5 8 22 / var(--tw-bg-opacity));
}
.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(170 166 195 / var(--tw-bg-opacity));
}

.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(170 166 195 / var(--tw-text-opacity));
}